<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mazhar's Smoothies</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Mazhar's Smoothies</a></h1>
    <ul> 
      <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a class="btn" href="/logout">Logout</a></li>
      <% } else {%>
        <li><a class="btn" href="/signup">Sign Up</a></li>
        <li><a class="btn" href="/login">Login</a></li>
      <% } %> 
    </ul>
  </nav>
  