<%- include('partials/header'); -%>

<form>
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required/>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required/>
    <div class="password error"></div>
    <button>Log In!</button>
</form>

<script>
    
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {

        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        //clearing errors
        emailError.textContent = '';
        passwordError.textContent = '';

        try {
            
            const result = await fetch('/login', {

                method: 'POST',
                body: JSON.stringify({ email , password }),
                headers: {'Content-Type' : 'application/json'}

            });

            const data = await result.json();

            console.log("From front");
            console.log(data);
            
            if(data.error)
            {
                emailError.textContent = data.error.email;
                passwordError.textContent = data.error.password;
            }
            
            if(data.user)
            {
                location.assign('/');
            }

        } catch (error) {
            

            console.log(error);

        }

    });

</script>

<%- include('partials/footer'); -%>